*{
    padding:0px;
    margin:0px;
}

#container{
    display:none;
    background-color: #d1d8e0;
    text-align: left;
}

.container-child{
    display:inline-flex;
    margin:5px;
}

.animBox{
    background-color:blue;
    border: 2px solid;
}

.wideBox{
    width:600px;
}

#anim1{
    background-color: #20bf6b;
}

@media only screen and (min-width:1024px){
    #container{
        background-color: white;
    }    

    .animBox:hover{
        opacity:0.5;
        cursor:pointer;
    }
}

@media only screen and (min-width:667px) and (max-width:1023px){
    #container{
        background-color: white;
    }    

    .animBox:hover{
        opacity:0.5;
        cursor:pointer;
    }
}

@media only screen and (max-width:667px) {
    #container{
        background-color: white;
    }

    .container-child{
        max-width: 40%;
    }
}